.adviceCard {
  background-color: var(--color-neutral-dark-gblue);
  padding: 60px 30px;
  max-width: 40%;
  border-radius: 10px;
  text-align: center;
}

#titleId {
  color: var(--color-primary-neon);
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

.quote {
  font-size: 28px;
  padding-bottom: 40px;
}

.adviceBtn {
  margin-bottom: -95px;
}

.adviceBtn button {
  background: transparent;
  border: none;
  background: var(--color-primary-neon);
  padding: 20px;
  margin-top: 40px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}

.adviceBtn button:active {
  box-shadow: 0px 0px 40px hsl(150, 100%, 66%);
}


@media all and (max-width:775px) {
  .adviceCard {
    max-width: 95%;
  }
}

@media all and (max-width:375px) {
  .adviceCard {
    max-width: 98%;
  }

  .divider svg {
   content: url('../images/pattern-divider-mobile.svg');
  }
}


