/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* Reusable styles */
:root {

  /* Colours */
  --color-primary-light: hsl(193, 38%, 86%);
  --color-primary-neon: hsl(150, 100%, 66%);
  --color-neutral-blue: hsl(217, 19%, 38%);
  --color-neutral-dark-gblue: hsl(217, 19%, 24%);
  --color-neutral-dark-blue: hsl(218, 23%, 16%);

  /* Fonts */
  --font-primary: 'Manrope', sans-serif;
}

/* Base styles */
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }


body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--color-primary-light);
  background: var(--color-neutral-dark-blue);
}

main {
  min-height: 95vh;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px; text-align: center;
  margin-bottom: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}










